@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Silka Regular", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-grid-item {
  transition: all 500ms ease;
  cursor: grab;
}

.react-grid-item.react-grid-placeholder {
  background-color: #30363d;
  opacity: 1;
  border-radius: 12px;
}

.react-resizable-handle.react-resizable-handle-se {
  opacity: 0;
  pointer-events: none;
}

.box-shadow {
  box-shadow: transparent 0px 0px 0px 2px inset;
}

.border-btn {
  box-shadow: 0px 0px 0px 1px #f0f2f8;
  transition: box-shadow 0.2s linear;
}

.border-btn:hover {
  box-shadow: 0px 0px 0px 5px #f0f2f8;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}
